// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 140px;
  padding-bottom: 140px;
}

.bodyText {
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    margin-left: 400px;

    li {
      font-size: 16px;
      line-height: 1.9;
    }
  }
}

.navbar1 {
  min-height: 80px;
}

.navbar2 {
  min-height: 30px;
  background-image: none;
  border: none;
  background-color: #C1CD21;
  top: 80px;

  .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
  }
}

#subMenu {
  margin-top: 20px;
}

#root {
  padding-top: 30px;
}

.jumbotronButton {
  background-color: #388BD5;
  border: none;
  background-image: none;
  color: white;
  text-shadow: none;
}

.bottomBar {
  margin-top: 100px;
  border-radius: 0;

  .footerTextWhite {
    color: white;
  }

  .footerTextGreen {
    color: #C1CD21;
  }
}

#clientList {
  width: 100%;
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

// Font styles
.redtext {
  color: red;
}