// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 140px;
  padding-bottom: 140px;
}

.bodyText {
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    margin-left: 400px;

    li {
      font-size: 16px;
      line-height: 1.9;
    }
  }
}

.navbar1 {
  min-height: 80px;
}

.navbar2 {
  min-height: 30px;
  background-image: none;
  border: none;
  background-color: #C1CD21;
  top: 80px;

  .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
  }
}

#subMenu {
  margin-top: 20px;
}

#root {
  padding-top: 30px;
}

.jumbotronButton {
  background-color: #388BD5;
  border: none;
  background-image: none;
  color: white;
  text-shadow: none;
}

.bottomBar {
  margin-top: 100px;
  border-radius: 0;

  .footerTextWhite {
    color: white;
  }

  .footerTextGreen {
    color: #C1CD21;
  }
}

#clientList {
  width: 100%;
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

// Font styles
.redtext {
  color: red;
}


#actions {
  margin: 2em 0;
}

/* Mimic table appearance */
div.table {
  display: table;

  .file-row {
    display: table-row;

    > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
  }

  .file-row:nth-child(odd) {
    background: #f9f9f9;
  }
}

/* The total progress gets shown by event listeners */
#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

#previews {
  .file-row {

    .delete {
      display: none;
    }

    .start {
      display: none;
    }

    .progress {
      display: none;
    }

  }

  /* Hide the start and cancel buttons and show the delete button */
  .file-row.dz-success {
    .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }
    .start {
      display: none;
    }

    .cancel {
      display: none;
    }

    .delete {
      display: none;
    }
  }

}
